@font-face {
    font-family: "honey belly";
    src: url("Fonts/Honey Belly.ttf");
}
body {
    font-family: "happy monkey", sans-serif;
    text-align: center;
    background: linear-gradient(#13afe4, #ff5876);
    /*background-color: #a2d2ff;*/
    color: #ffffff;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#birthday-image {
    width: 400px;
    height: auto;
    border-radius: 50%;
    border: 10px solid #EFB0C9;
}
#title {
    font-family: "honey belly", sans-serif;
}
h1,h2,h4, h3,p {
    text-shadow: 0px 0px 2px #000000;
}
#bday-age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}
#bday-date{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}
.gift-image {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 6px solid #fff0f3;
    background-image: url("Images/gift.png");
    background-size: cover;
}
#gift-image5 {
    height: 200px;
}
#gift-image1:hover{
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGY0dGgwbm40ODhmNXpkMnlxa3FvZm4wcmtrbG5lM2t1cG5oYm5yOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9rO5Aksmn0dHQKXJAu/giphy.gif");
}

#gift-image2:hover{
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDQ1aWtwcThtdjFxeHJ5d3N2cnQzMzhuYmQ1cWN2Zm5vZHRkb282aiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3PzmBpZt0iimrcWvfV/giphy.gif");
}
#gift-image3:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTk4OWVwNmlkdnFkZ3lydTA4M29tankweHVpZW42NzUwNWtzNmg0bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/11qCjC856PSmnm/giphy.gif");
}
#gift-image4:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnR1N2F4aGFudzBodzh6emJxbDR5YXhoZzF1NHk5dmc4dXM5bDF4diZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3ov9jWu7BuHufyLs7m/giphy.gif");
}
#gift-image5:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTl1dTAzYWRzYW12bHU3cDZkdDdwZDQxYzQ3azRlbDVoczBudWI0ciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/BPJmthQ3YRwD6QqcVD/giphy.gif");
}
.gift-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-title{
    margin-bottom: 10px;
}
.gift-instruction{
    margin-top: 0px;
}
footer{
    margin-top: 50px auto;
}
a{
    color: #ffffff;
}